<div class="contents row">
  <div class="container">
    <h3 class='new_user_title'>ユーザー登録</h3>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（6文字以上）" %>
        <%# <% if @minimum_password_length %>
          <%# <em>(<%= @minimum_password_length %>
        <%# <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :nickname, "ニックネーム" %> <br />
        <%= f.text_field :nickname, id:"nickname", autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name, "名字(全角)" %><br />
        <%= f.text_field :last_name, id:"last_name", placeholder:"例) 山田" %>
      </div>

      <div class="field">
        <%= f.label :first_name, "名前(全角)" %><br />
        <%= f.text_field :first_name, id:"first_name", placeholder:"例) 太郎"%>
      </div>

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>
</div>