  <div class="inner">
    <div class="store__wrapper">
      <p class="store__hedding">
        <%= @store.store_name%>
      </p>
      <%= link_to @store.user.nickname, store_path(@store.user_id), class: :store__user %>
      <%# 削除機能実装後 店舗投稿者とログインしているユーザーが同じであれば以下を表示 %>
      <% if user_signed_in? && current_user.id == @store.user_id %>
        <div class="store__manage">
          <%= link_to "編集する", edit_store_path(@store), class: :store__btn %>
          <%= link_to "削除する", store_path(@store), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>  
      <%# // 店舗投稿者とログインしているユーザーが同じであれば以下を表示 %>
      <div class="store__image">
        <%= image_tag @store.image %>
      </div>
      <div class="store__body">
        <div class="store__detail">
          <p class="detail__title">店舗名</p>
          <p class="detail__message">
            <%= @store.store_name %>
          </p>
        </div>

        <div class="store__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @store.category.name %>
          </p>
        </div>

        <div class="store__detail">
          <p class="detail__title">店舗環境</p>
          <p class="detail__message">
            <%= @store.store_environment %>
          </p>
        </div>

        <div class="store__detail">
          <p class="detail__title">オススメポイント</p>
          <p class="detail__message">
            <%= @store.recommendation %>
          </p>
        </div>

      </div>
      <div class="store__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@store, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment|%>
            <li class="comments_list">
              <%= comment.content%>
              <%= "by " + comment.user.nickname%>
              <%# <%= link_to comment.user.nickname, user_path(comment.user), class: :comment_user %> 
            </li>
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>